.aboutList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-size: 15px;
    color: var(--color-primary-text);


    &Item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;
    }

}

.aboutListIcon {
    width: 40px;
    height: 40px;
}

.aboutBoldText {
    font-family: var(--font-logo);
}

@media screen and (min-width:768px) {
        .aboutList {
                height: 720px;
                font-size: 16px;
                flex-direction: column;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 20px;
                &Item{
                    width: 365px;
                }
        
                &Icon {
                    width: 45px;
                    height: 45px;
                }
        }
        .aboutListItem__first{
            height: 190px;
        }
        .aboutListItem__second {
            height: 230px;
        }
        .aboutListItem__third {
            height: 260px;
        }
}

@media screen and (min-width:1000px) {
    .aboutList {
        height: 730px;
        font-size: 18px;
        column-gap: 15px;
        row-gap: 25px;
        
        &Item {
            gap: 10px;
            width: 470px;
        }
        
        &Icon {
            width: 50px;
            height: 50px;
        }
    }

    .aboutListItem__first {
        height: 180px;
    }

    .aboutListItem__second {
        height: 240px;
    }

    .aboutListItem__third {
        height: 260px;
    }
}

@media screen and (min-width:1200px) {
    .aboutList {
        height: 800px;
        font-size: 20px;
        column-gap: 20px;
        row-gap: 30px;

        &Item {
            width: 570px;
        }

        &Icon {
            width: 55px;
            height: 55px;
        }
    }

    .aboutListItem__first {
        height: 170px;
    }

    .aboutListItem__second {
        height: 250px;
    }

    .aboutListItem__third {
        height: 320px;
    }
}

@media screen and (min-width:1440px) {
    .aboutList {
        font-size: 22px;
        row-gap: 35px;

        &Item {
            width: 685px;
        }

        &Icon {
            width: 60px;
            height: 60px;
        }
    }

    .aboutListItem__first {
        height: 200px;
    }

    .aboutListItem__second {
        height: 250px;
    }

    .aboutListItem__third {
        height: 280px;
    }
}