.contactsList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
.contactsSocialList {
    display: flex;
    justify-content: space-between;

}

.contactsSocialItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactsSocialTitle,
.contactsTitleMail {
    text-align: center;
    font-size: 16px;
}

.socialLinksList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 95px;

    margin-top: 10px;
}

.socialLinksItem {
    width: 21px;
    height: 20px;
}

.socialLinksLink{
        position: relative;

        &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 21px;
                height: 20px;
                background-size: cover;

            }

        &Insta::before{
            background-image: url("/contacts/instagram.svg");
        }
        &Insta:hover::before{
            background-image: url("/contacts/instagram-hover.svg");
        }
        &Facebook::before {
            background-image: url("/contacts/facebook.svg");
        }
        &Facebook:hover::before {
            background-image: url("/contacts/facebook-hover.svg");
        }
        &Youtube::before {
            width: 23px;
            background-image: url("/contacts/youtube.svg");
        }                
        &Youtube:hover::before {
            background-image: url("/contacts/youtube-hover.svg");
        }
}

.feedbackContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactsLinkMail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 220px;
    font-size: 16px;
    margin-top: 5px;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-titles-section);

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -2px;
        width: 23px;
        height: 15px;
        background-size: cover;
        background-image: url("/contacts/mail.svg");
    }

    &:hover::before {
        background-image: url("/contacts/mail-hover.svg");
    }
}

@media screen and (min-width:768px) {
    .contactsList {
        margin-top: 30px;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 25px;
    }

    .contactsSocialList {
        justify-content: start;
        gap: 25px;
    }

    .contactsSocialTitle,
    .contactsTitleMail {
        font-size: 18px;
    }

    .contactsLinkMail {
        margin-top: 15px;
        font-size: 16px;
    }

}

@media screen and (min-width:1000px) {
    .contactsList {
        margin-top: 35px;
        gap: 65px;
    }

    .contactsSocialList {
        gap: 65px;
    }

    .contactsSocialTitle,
    .contactsTitleMail {
        font-size: 20px;
    }

    .contactsLinkMail {
        font-size: 20px;
        width: 275px;
        &::before{
            width: 27px;
            height: 18px;

        }
    }

    .socialLinksList,
    .contactsLinkMail {
        margin-top: 15px;
    }

    .socialLinksList {
        gap: 15px;
    }

    .socialLinksLink {
        &::before{
            width: 26px;
            height: 25px;
        }

        &Youtube::before{
            width: 29px;
        }
    }
}

@media screen and (min-width:1200px) {
    .contactsList {
        margin-top: 40px;
        gap: 95px;
    }

    .contactsSocialList {
        gap: 95px;
    }

    .contactsSocialTitle,
    .contactsTitleMail {
        font-size: 22px;
    }

    .contactsLinkMail {
        font-size: 22px;
        width: 300px;
        &::before {
                width: 30px;
                height: 20px;
    
            }
    }

    .socialLinksList{
        gap: 20px;
        width: 200px;
    }

    .socialLinksItem{
        width: 30px;
        height: 29px;
    }

    .socialLinksLink {
        &::before {
            width: 30px;
            height: 29px;
    }
    
    &Youtube::before {
         width: 33px;
    }
   }

}

@media screen and (min-width:1440px) {
    .contactsList {
        gap: 155px;
    }

    .contactsSocialList {
        gap: 155px;
    }

    .contactsSocialTitle,
    .contactsTitleMail {
        font-size: 25px;
    }

    .contactsLinkMail {
        font-size: 24px;
        width: 320px;
    }

}