.header {
    width: 100%;
    height: 110px;
    box-shadow: 0px 10px 10px 0px var(--box-shadow-color-header-footer);
}

.locale {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &Link{
       color: #ffffff;

       &:hover, &:focus{
        border-bottom: 1px solid var(--color-primary-text) ;
       }
    }
}

.navList{
    display: none;
}

.bgContainer {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-header-footer);
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
}


.headerLogo {
    position: relative;
    height: 110px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--color-primary-text);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &DecorWord{
        width: 80px;
        display: block;
    }
    
    &:hover, &:focus {
          transform: scale(1.05);
    }  
 
}
.headerLogo__GuideWord{
    margin-left: 10px;
}

@media screen and (min-width:375px) {
    .header {
        height: 135px;
    }
    .headerLogo{
        height: 135px;
        font-size: 23px;
    }
    .headerNav{
        gap: 22px;
    }
    .logo{
        width: 130px;
        height: 130px;
    }
    .headerLogo__GuideWord {
        margin-left: 13px;
    }
    .locale{
        font-size: 15px;
        font-weight: 600;
        gap: 10px;
    }
}


@media screen and (min-width:768px) {
 
 .headerNav{
    gap: 130px;
 }
}


@media screen and (min-width:1000px) {
    
    .mobileMenu, .mobMenuBtn {
        display: none;
    }

    .locale{
        font-size: 16px;
    }
    .header{
        height: 150px;
    }
    .headerLogo{
        height: 150px;
        font-size: 25px;
    }
    .logo{
      width: 140px;
      height: 140px;
    }
    .headerNav {
        justify-content: start;
        gap: 45px;
    }

    .navList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 7px;
        row-gap: 15px;
        column-gap: 25px;
        width: 450px;
        font-size: 18px;
        font-weight: 500;

        &Link {
            color: var(--color-primary-text);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.3s ease-in-out;

            &:hover,
            &:focus {
                color: transparent;
                background-clip: text;
                background-image: var(--hover-gradient);
            }
        }

        &Item {
            position: relative;
        }

    }

}

@media screen and (min-width:1200px) {

    .headerNav{
        gap: 90px;
    }
    .navList {
        width: 500px;
        column-gap: 30px;
    }
   
   
}

@media screen and (min-width:1440px) {
    .headerNav {
        gap: 150px;
    }
    .locale{
        font-size: 18px;
        gap: 15px;
    }
    .headerLogo{
        font-size: 28px;
        width: 250px;
    }
    .logo{
        width: 140px;
        height: 140px;
    }
    .navList {
        font-size: 20px;
    }

}

.current {
    color: transparent;
    background-clip: text;
    background-image: var(--hover-gradient);
    padding-left: 21px;

    &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-image: url("/current.svg");
    }

}

@media screen and (min-width:1000px) {
    .current {
        padding-left: 18px;

        &::after {
            top: 1px;
            left: 0;
            width: 16px;
            height: 16px;

        }
    }
}

@media screen and (min-width:1200px) {
    .current {
        padding-left: 21px;

        &::after {
            width: 19px;
            height: 19px;
        }
    }
}

@media screen and (min-width:1440px) {
    .current {
        padding-left: 23px;

        &::after {
            width: 22px;
            height: 22px;

        }
    }
}
