.header {
    background-color: #ffffff;
    z-index: 100;
    width: 100%;
    height: 125px;
    box-shadow: 0px 10px 10px 0px var(--box-shadow-color-header-footer);
}

.locale {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &Link{
       color: #ffffff;

       &:hover, &:focus{
        border-bottom: 1px solid var(--color-primary-text) ;
       }
    }
}

.navList{
    display: none;
}

.bgContainer {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-header-footer);
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    // gap: 57px;
}

.logo{
    position: relative;
     z-index: 101;

  }

.headerLogo {
    position: relative;

    height: 125px;
    font-size: 22px;
    display: flex;
    align-items: center;

    color: var(--color-primary-text);
    transition: background-clip 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
            content: "";
            position: absolute;
            top: 18px;
            left: -18px;
            width: 120px;
            height: 120px;
            background-image: url("/logo-blur.svg");
            background-repeat: no-repeat;}
    
            
    &DecorWord{
        width: 80px;
       display: block;
    }
    
    // &DecorWord {
    //     margin-left: 68px;
    // }
    //        &::after {
    //            content: "";
    //            position: absolute;
    //            top: 0px;
    //            right: 64px;
    //            width: 105px;
    //            height: 95px;
    //            background-size: cover;
    //            background-image: url("/logo-3x.png");
    //          transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    //        }
        &:hover,
        &:focus {
   transform: scale(1.1);
       }  
    // &:hover::after,
    // &:focus::after {
    //      background-image: url("/logo-icon-hover.svg");
        
    // }

 
}
.headerLogo__GuideWord{

    text-align: end;
}


@media screen and (min-width:768px) {
    .headerLogo {
        width: 250px;
        height: 50px;
        font-size: 24px;

        &::after{
            top: 0px;
            right: 82px;
            width: 70px;
            height: 50px;

        }
            
        &DecorWord {
            margin-left: 76px;
        }
    }

    .locale{
        margin-left: 300px;
    }
}


@media screen and (min-width:1000px) {
    
    .mobileMenu, .mobMenuBtn {
        display: none;
    }

    .locale{
        margin: 0;
    }

    .dropdown-content {
        font-size: 16px;
    }

    .headerNav {
        justify-content: start;
        gap: 25px;
    }

    .navList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 7px;
        gap: 17px;
        width: 450px;
        font-size: 16px;
        font-weight: 500;

        &Link {
            color: var(--color-primary-text);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.3s ease-in-out;

            &:hover,
            &:focus {
                color: transparent;
                background-clip: text;
                background-image: var(--hover-gradient);
            }
        }

        &Item {
            position: relative;
        }

    }


    .loginIcon, .registerIcon {
        fill: currentColor;
    }

}

@media screen and (min-width:1200px) {
    .headerNav {
        gap: 35px;
    }

    .navList {
        gap: 20px;
        font-size: 18px;
    }

    .headerLogo {
        width: 310px;
        height: 55px;
        font-size: 32px;

        &::after {
                top: 0px;
                right: 105px;
                width: 77px;
                height: 55px;
        
            }
        
            &DecorWord {
                margin-left: 85px;
            }
    }
   

   
}

@media screen and (min-width:1440px) {
    .headerNav {
        gap: 60px;
    }

    .navList {
        gap: 20px;
        font-size: 20px;
    }

    .headerLogo {
        width: 360px;
        height: 60px;
        font-size: 36px;

    &::after {
            top: 0px;
            right: 128px;
            width: 120px;
            height: 110px;
    
        }
    
        &DecorWord {
            margin-left: 88px;
        }
    }
}

.current {
    color: transparent;
    background-clip: text;
    background-image: var(--hover-gradient);
    padding-left: 21px;

    &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-image: url("/current.svg");
    }

}

@media screen and (min-width:1000px) {
    .current {
        padding-left: 18px;

        &::after {
            top: 1px;
            left: 0;
            width: 16px;
            height: 16px;

        }
    }
}

@media screen and (min-width:1200px) {
    .current {
        padding-left: 21px;

        &::after {
            width: 19px;
            height: 19px;
        }
    }
}

@media screen and (min-width:1440px) {
    .current {
        padding-left: 23px;

        &::after {
            width: 22px;
            height: 22px;

        }
    }
}
