.nutritional__container {
    padding: 15px 10px;
    border-radius: 25px;
    margin-top: 15px;
    background: var(--background-color-primary);
    box-shadow: 0px 4px 4px 0px var(--color-shadow);
    backdrop-filter: blur(2.2px);
}

.nutritional__section_title {
    font-size: 18px;
    font-family: var(--font-titles);
    color: var(--color-titles-section);
    // &::after {
    //         content: '';
    //         position: absolute;
    //         top: 38px;
    //         left: 10px;
    //         transform: translateY(50%);
    //         display: block;
    //         width: calc(100% - 20px);
    //         height: 2px;
    //         border-radius: 25px;
    //         background-color: var(--color-titles-section);
    
    //     }
}

.nutritional__list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 17px;
    gap: 12px;
}

.nutritional__item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        font-weight: 600;
        color: transparent;
        background-clip: text;
        background-image: var(--color-hover-text);
        transform: scale(1.015);
    }
}

.nutritional__text{
    display: inline;
    margin-left: 5px;
}
.nutritional__title {
    font-weight: 600;
}


@media screen and (min-width:768px) {
    .nutritional__container {
        padding: 20px 7px;
    }

    .nutritional__list {
        font-size: 19px;
        gap: 15px;
    }

    .nutritional__section_title {
        font-size: 20px;

        // &::after{
        //     top: 47px;
        //     left:7px
        // }
    }
}

@media screen and (min-width:1000px) {
    .nutritional__container {
        padding: 20px 10px;
    }

    .nutritional__list {
        font-size: 20px;
        gap: 18px;
    }

    .nutritional__section_title {
        font-size: 21px;

        // &::after {
        //         top: 50px;
        //         left: 10px
        //     }
    }
    .nutritional__text{
        margin-left: 10px;
    }
}

@media screen and (min-width:1200px) {
    .nutritional__container {
        padding: 25px 20px;
    }

    .nutritional__list {
        font-size: 22px;
        gap: 20px;
    }

    .nutritional__section_title {
        font-size: 23px;
        // &::after {
        //         top: 57px;
        //         left: 15px
        //     }
    }

         .nutritional__text {
             margin-left: 12px;
         }

}