.pagesHeroContainer{
    height: 290px;
    background-size: 100% 290px;
    
}
.pagesHeroTitleContainer{
    padding-top: 90px;
}
.pagesHeroTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-hero-title);
    width: 100%;
    height: 50px;
    background-color: rgba(0, 10, 26, 0.20);
    font-size: 22px;
    font-family: var(--font-titles);
   
}

@media screen and (min-width:768px) {
.pagesHeroContainer {
        height: 450px;
        background-size: 100% 450px;
    }

    .pagesHeroTitleContainer {
        padding-top: 170px;
    }

    .pagesHeroTitle {
        height: 70px;
        font-size: 28px;
    }


}

@media screen and (min-width:1000px) {

.pagesHeroContainer {
        height: 560px;
        background-size: 100% 560px;
    }

    .pagesHeroTitleContainer {
        padding-top: 220px;
    }

    .pagesHeroTitle {
        height: 90px;
        font-size: 38px;
    }
}

@media screen and (min-width:1200px) {
.pagesHeroContainer {
        height: 620px;
        background-size: 100% 620px;
    }

    .pagesHeroTitleContainer {
        padding-top: 220px;
    }

    .pagesHeroTitle {
        height: 110px;
        font-size: 48px;
    }

}

@media screen and (min-width:1440px) {
.pagesHeroContainer {
        height: 800px;
        background-size: 100% 800px;
    }

    .pagesHeroTitleContainer {
        padding-top: 345px;
    }

    .pagesHeroTitle {
        height: 130px;
        font-size: 68px;
    }
}