.seasonsContainer {
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 0px var(--color-shadow);
    backdrop-filter: blur(2.2px);
    background-color: var(--background-color-primary);
}

.seasonsList {
    display: flex;
    flex-direction: column;
}

.seasonsItem {
    padding: 5px;
}

.hidden {
    display: none;
}

@media screen and (min-width:768px) {
    .seasonsContainer {
        margin-top: 30px;
    }

    .seasonsItem {
        padding: 7px;
    }
}

@media screen and (min-width:1000px) {
    .seasonsContainer {
        margin-top: 30px;
    }

}

@media screen and (min-width:1200px) {
    .seasonsContainer {
        margin-top: 40px;
    }

    .seasonsItem {
        padding: 10px;
    }
}